<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="login-form-container">
        <form id="login-form">
            <fieldset>
                <label for="username">Username: </label>
                <input type="text" name="userrname" id="username" placeholder="Enter username" required>
            </fieldset>
    
            <fieldset>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" required>
            </fieldset>
    
            <div class="submit-btn-wrapper">
                <input type="submit" value="Login">
            </div>
        </form>
        <script src="/script/utils/admin/util.restful"></script>
        <script src="/script/scripts/admin/login"></script>
    </div>
</body>
</html>