<section class="main-section students">
    <div class="section-header">
        <div class="table-buttons-nav">
        </div>

        <div class="section-header-nav">
            <a href="/admins/render/organise-courses/<%= admin.id %>" id="organise-courses-btn">Organize Courses</a>
        </div>
        <div class="section-header-nav">
            <a href="/admins/render/updates/course/null/<%= admin.id %>">Add Course</a>
        </div>
    </div>
</section>

<section class="courses" id="courses-section">
    <article class="cards" id="courses-cards">
    </article>
</section>