<header class="header_main">
    
    <!-- admin profile icon and name -->
    
    <div class="admin_profile_wrapper">
        <div class="profile_image_wrapper">
            <img src="<%= adminProfilePicUrl %>" alt="profile" width="40px" height="40px">
        </div>
        <div class="profile_name_wrapper"><%= adminLastName %></div>
    </div>

    <!-- search bar ( global object ) -->
    <!-- <% include('../../global/search') %> -->
</header>