<section class="left-sidebar">
    <!-- admin profile -->
    <div class="uppper_class-profile">
        <a href="/admin/view-profile" id="adminProfile-left-side-bar">
            <div class="img_wrapper"><img src="<%= adminProfilePicUrl %>" alt="profile"></div>
            <div class="admin-first-and-last-name"><%= adminFirstname %> <%= adminLastName %></div>
            <div class="admin-role"><%= adminRole %></div>
        </a>
    </div>

    <!-- navigation -->
    <div class="lower_class-navigation">
        
    </div>
</section>