<section class="main-section students">
    <div class="section-header">
        <div class="table-buttons-nav">
            <button type="button" id="nextPage">Next</button>
            <button type="button" id="resetBtn">Reset</button>
        </div>

        <div class="section-header-nav">
            <a href="/admins/render/imports/students/<%= admin.id %>">Import Students</a>
        </div>
    </div>

    <!-- list of available users -->

    <div class="section-users section-body">
        <div class="section-body-header">
            <br>
            <div class="students" data-offset="0">
                <table>
                    <thead>
                        <th class="table-head" id="count">No</th>
                        <th class="table-head" id="tstudentId">StudentId</th>
                        <th class="table-head" id="tfirstname">Firstname</th>
                        <th class="table-head" id="tlastname">Lastname</th>
                        <th class="table-head" id="tlevel">
                            <select name="level" id="studentLevel" class="dropdown">
                                <option value="none">Level</option>
                                <option value="100">100</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="400">400</option>
                            </select>
                        </th>
                        <th class="table-head" id="tprogram">
                            <select name="program" id="program" class="dropdown">
                                <option value="none">Program</option>
                                <option value="BSc. Computer Engineering">BSc. Computer Engineering</option>
                                <option value="BSc. Telecom Engineering">BSc. Telecom Engineering</option>
                                <option value="BSc. Information Technology">BSc. Information Technology</option>
                            </select>
                        </th>
                        <th class="table-head" id="faculty">
                            <select name="faculty" id="faculty" class="dropdown">
                                <option value="none">Faculty</option>
                                <option value="Engineering">Engineering</option>
                                <option value="FoCIS">FoCIS</option>
                                <option value="Business">Business</option>
                            </select>
                        </th>
                        <th class="table-head" id="session">
                            <select name="session" id="session" class="dropdown">
                                <option value="none">Session</option>
                                <option value="Morning">Morning</option>
                                <option value="Evening">Evening</option>
                                <option value="Weekend">Weekend</option>
                            </select>
                        </th>
                        <th class="table-head" id="rcourses">Reg. Courses</th>
                        <th class="table-head" id="trepos">Repositories</th>
                        <th class="table-head" id="tfiles">Submissions</th>
                    </thead>
                    <tbody id="students-list">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>