<section class="main-section students">
    <div class="section-header">
        <div class="table-buttons-nav">
            <button type="button" id="nextPage">Next</button>
            <button type="button" id="resetBtn">Reset</button>
        </div>

        <div class="section-header-nav">
            <a href="/admins/render/imports/lecturers/<%= admin.id %>">Import Lecturers</a>
        </div>
    </div>

    <!-- list of available users -->

    <div class="section-users section-body">
        <div class="section-body-header">
            <br>
            <div class="students" data-offset="0">
                <table>
                    <thead>
                        <th class="table-head" id="count">No</th>
                        <th class="table-head" id="tstudentId">LecturerId</th>
                        <th class="table-head" id="tfirstname">Firstname</th>
                        <th class="table-head" id="tlastname">Lastname</th>
                        <th class="table-head" id="Faculty">
                            <select name="faculty" id="faculty" class="dropdown">
                                <option value="none">Department</option>
                                <option value="Engineering">Engineering</option>
                                <option value="FoCIS">Information Technology</option>
                            </select>
                        </th>
                    </thead>
                    <tbody id="lecturers-list">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>