<header class="header-admin">
    <div class="logo">
        <a href="/admin/dashboards?id=<%= _id %>&&adminId=<%= adminId %>">
            <img src="/images/logo" alt="app_logo" width="50px">
        </a>
    </div>
    <div class="search">
        <form action="#">
            <input type="text" required>
            <input type="submit" value="Search">
        </form>
    </div>
    <div class="profile">
        <div class="firstname">Christopher</div>
        <div class="profile-call_to_action">
            <div class="call_to_action">Settings</div>
            <div class="call_to_action">Profile</div>
        </div>
    </div>
</header>