<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon" type="image/x-icon">
    <title>ITLE: redirecting to login</title>
</head>

<body>
    <script>
        function generateSerialString(length) {
            const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
            let result = '';
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * characters.length));
            }
            return result;
        }
        const now = new Date().getTime();
        const serialString = generateSerialString(12);
    </script>

    <% if (flush==="true" ) { %>
        <script>
            const adTimestamp = `AD-${now}::${serialString}`;
            localStorage.setItem("x03n8af6", JSON.stringify(adTimestamp))
            window.location.replace("/login")
            </script>
    <% } else { %>
        <script>
            const auTimestamp = `AU-${now}::${serialString}`;
            localStorage.setItem("x03n8af6", JSON.stringify(auTimestamp))
            window.location.replace("/login")
        </script>
    <% } %>

</body>

</html>