<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon" type="image/x-icon">
    <title>ITLE: redirecting to login</title>
</head>

<body>
    <script>
        window.location.href = "/login";
    </script>

</body>

</html>