<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon" type="image/x-icon">
    <link rel="stylesheet" href="/css/global/login">
    <title>ITLE: Session New (Login)</title>
</head>

<body>
    <main class="wrapper-main">
        <img src="/images/school-admin-block" alt="splash" id="splash">

        <div class="login-form-container">
            <form id="login-form">
                <fieldset >
                    <div class="title">
                        <div class="image-holder">
                            <img src="/images/logo" alt="school logo" width="20px">
                        </div>
                        <h1>GCTU-ITLE</h1>
                    </div>
                    <div class="des">
                        <p>Online learning made easier than ever before</p>
                    </div>
                </fieldset>
                <fieldset>
                    <label for="username">user-ID: </label>
                    <input type="text" name="username" id="username" placeholder="Enter username" required>
                </fieldset>

                <fieldset>
                    <label for="password">password: </label>
                    <input type="password" name="password" id="password" required>
                </fieldset>
                <fieldset>
                    <a href="#">Forgot your password?</a>
                </fieldset>

                <div class="submit-btn-wrapper">
                    <input type="submit" value="Login">
                </div>
            </form>
        </div>
    </main>

    <script src="/script/scripts/admin/login"></script>
</body>

</html>