<section class="notifications-main" id="notifications_main">

    <div class="notifications-container">
        <div id="announcements" class="tab-content">
            <!-- Announcements content here -->
            <div class="notification-item">
                <div class="notification-details">
                    <p class="annc-title">Announcement Title</p>
                    <p class="pub-date">28th July, 2024</p>
                    <div class="ann-mnt">
                        <p class="greetings">Dear students,</p>
                        <br>
                        <p class="paragraph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae recusandae
                            eius eaque, magni rerum voluptatibus itaque esse aut qui dolore! Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.
                        </p>
                        <br>
                        <p class="paragraph">
                            Accusantium, voluptatem. Atque eveniet sint perferendis nulla saepe
                            distinctio nobis dolore repellat ab fugit a alias, sit velit perspiciatis commodi quia
                            blanditiis!
                        </p>
                        <br>
                        <p class="closing-remarks">Yours sincerely,</p>
                        <p class="author">Department Admin.</p>
                    </div>
                    <div class="atchs">Attachments</div>
                    <div class="attachments">
                        <br>
                        <a href="attachment1.pdf"><i class="file-icon">📄</i>Attachment 1</a>
                        <a href="attachment2.pdf"><i class="file-icon">📄</i>Attachment 2</a>
                    </div>
                </div>
            </div>
            <div class="notification-item">
                <div class="notification-details">
                    <p class="annc-title">Announcement Title</p>
                    <p class="pub-date">28th July, 2024</p>
                    <div class="ann-mnt">
                        <p class="greetings">Dear students,</p>
                        <br>
                        <p class="paragraph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae recusandae
                            eius eaque, magni rerum voluptatibus itaque esse aut qui dolore! Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.
                        </p>
                        <br>
                        <p class="paragraph">
                            Accusantium, voluptatem. Atque eveniet sint perferendis nulla saepe
                            distinctio nobis dolore repellat ab fugit a alias, sit velit perspiciatis commodi quia
                            blanditiis!
                        </p>
                        <br>
                        <p class="closing-remarks">Yours sincerely,</p>
                        <p class="author">Department Admin.</p>
                    </div>
                    <div class="atchs">Attachments</div>
                    <div class="attachments">
                        <br>
                        <a href="attachment1.pdf"><i class="file-icon">📄</i>Attachment 1</a>
                        <a href="attachment2.pdf"><i class="file-icon">📄</i>Attachment 2</a>
                    </div>
                </div>
            </div>
            <div class="notification-item">
                <div class="notification-details">
                    <p class="annc-title">Announcement Title</p>
                    <p class="pub-date">28th July, 2024</p>
                    <div class="ann-mnt">
                        <p class="greetings">Dear students,</p>
                        <br>
                        <p class="paragraph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae recusandae
                            eius eaque, magni rerum voluptatibus itaque esse aut qui dolore! Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.
                        </p>
                        <br>
                        <p class="paragraph">
                            Accusantium, voluptatem. Atque eveniet sint perferendis nulla saepe
                            distinctio nobis dolore repellat ab fugit a alias, sit velit perspiciatis commodi quia
                            blanditiis!
                        </p>
                        <br>
                        <p class="closing-remarks">Yours sincerely,</p>
                        <p class="author">Department Admin.</p>
                    </div>
                    <div class="atchs">Attachments</div>
                    <div class="attachments">
                        <br>
                        <a href="attachment1.pdf"><i class="file-icon">📄</i>Attachment 1</a>
                        <a href="attachment2.pdf"><i class="file-icon">📄</i>Attachment 2</a>
                    </div>
                </div>
            </div>
            <div class="notification-item">
                <div class="notification-details">
                    <p class="annc-title">Announcement Title</p>
                    <p class="pub-date">28th July, 2024</p>
                    <div class="ann-mnt">
                        <p class="greetings">Dear students,</p>
                        <br>
                        <p class="paragraph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae recusandae
                            eius eaque, magni rerum voluptatibus itaque esse aut qui dolore! Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.
                        </p>
                        <br>
                        <p class="paragraph">
                            Accusantium, voluptatem. Atque eveniet sint perferendis nulla saepe
                            distinctio nobis dolore repellat ab fugit a alias, sit velit perspiciatis commodi quia
                            blanditiis!
                        </p>
                        <br>
                        <p class="closing-remarks">Yours sincerely,</p>
                        <p class="author">Department Admin.</p>
                    </div>
                    <div class="atchs">Attachments</div>
                    <div class="attachments">
                        <br>
                        <a href="attachment1.pdf"><i class="file-icon">📄</i>Attachment 1</a>
                        <a href="attachment2.pdf"><i class="file-icon">📄</i>Attachment 2</a>
                    </div>
                </div>
            </div>
            <div class="notification-item">
                <div class="notification-details">
                    <p class="annc-title">Announcement Title</p>
                    <p class="pub-date">28th July, 2024</p>
                    <div class="ann-mnt">
                        <p class="greetings">Dear students,</p>
                        <br>
                        <p class="paragraph">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae recusandae
                            eius eaque, magni rerum voluptatibus itaque esse aut qui dolore! Lorem ipsum dolor sit amet
                            consectetur adipisicing elit.
                        </p>
                        <br>
                        <p class="paragraph">
                            Accusantium, voluptatem. Atque eveniet sint perferendis nulla saepe
                            distinctio nobis dolore repellat ab fugit a alias, sit velit perspiciatis commodi quia
                            blanditiis!
                        </p>
                        <br>
                        <p class="closing-remarks">Yours sincerely,</p>
                        <p class="author">Department Admin.</p>
                    </div>
                    <div class="atchs">Attachments</div>
                    <div class="attachments">
                        <br>
                        <a href="attachment1.pdf"><i class="file-icon">📄</i>Attachment 1</a>
                        <a href="attachment2.pdf"><i class="file-icon">📄</i>Attachment 2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>