<section class="dashboard-main" id="dashboard-main">
    <!-- Upcoming Events -->
    <section class="upcoming-events dashboard-item" id="upcoming-events">
        <div class="upcoming_events_title">
            <h2>Upcoming Events</h2>
        </div>

        <div class="events-wrapper">
            <ul id="events-list">
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
            </ul>
        </div>
    </section>

    <!-- Assigned Courses -->
    <section class="assigned-courses dashboard-item" id="assigned-courses">
        <div class="assigned_courses_title">
            <h2>Assigned Courses</h2>
        </div>

        <div class="assigned-courses-wrapper">
            <ul id="courses-list">
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
            </ul>
        </div>
    </section>
    
    <!-- Course Submissions -->
    <section class="course-submissions dashboard-item" id="course-submissions">
        <div class="course_submissions_title">
            <h2>Overview of Submissions <span id="totalSubmissionsMade"></span></h2>
        </div>

        <div class="submissions-overview-wrapper">
            <ul id="submissions-list">
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
            </ul>
        </div>
    </section>
    
    <!-- Quiz Submissions -->
    <section class="quiz-submissions dashboard-item" id="quiz-submissions">
        <div class="quiz_submissions_title">
            <h2>Quiz Submissions Overview</h2>
        </div>

        <div class="quiz-overview-wrapper">
            <ul id="quiz-list">
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
                <!-- <li>
                    <strong>Quiz:</strong> Machine Learning Basics Quiz<br>
                    Submissions: 40 / 45
                </li> -->
            </ul>
        </div>
    </section>
</section>
