<section class="e-library-main">
    <div class="section-header">
        <input type="text" id="search-bar" placeholder="Search resources..." />
        <select id="resource-type">
            <option value="all">All Resources</option>
            <option value="textbooks">TextBooks</option>
            <option value="slides">Lecturer Slides</option>
            <option value="assignments">Assignments</option>
            <option value="recordings">Lecture Recordings</option>
            <option value="past-questions">Past Questions</option>
        </select>
    </div>

    <ul class="resources-list">
        <li class="resource-card">
            <article class="resource-info">
                <img src="/random/image" alt="TextBook" />
                <div class="resource-details">
                    <div class="resource-title">Introduction to Algorithms</div>
                    <div class="resource-author">Brenn B. CouplesWorth</div>
                    <span class="resource-year">2023</span>
                </div>
            </article>
        </li>
        <li class="resource-card">
            <article class="resource-info">
                <img src="/random/image" alt="Lecturer Slides" />
                <div class="resource-details">
                    <div class="resource-title">Data Structures Slides</div>
                    <div class="resource-author">Brenn B. CouplesWorth</div>
                    <span class="resource-year">2023</span>
                </div>
            </article>
        </li>
        <!-- Repeat cards as needed -->
    </ul>
</section>