<section class="student-submissions_main" id="student-submissions_main">
    <% if (data.length===0) { %>
        <div class="no-available-courses" style="display: grid; place-items: center;">
            <p>Your submissions portals has not yet been activated by your department administrator.</p>
            <div>you have <%= data.length %> files in your submissions</div>
        </div>
        <% } else { %>
            <div id="data-files">
                <%= JSON.stringify(data) %>
            </div>
            <section class="submissions-header">
                <div class="btn-wrapper">
                    <div class="dropdown">
                        <label for="course-select">Sort By Courses:</label>
                        <select id="course-select" onchange="showSubmissions(this.value)">
                            <option value="all" selected>All</option>
                            <% for(let course of data) { %>
                                <option value="<%= course._id %>">
                                    <%= course['courseName'] %>
                                </option>
                            <% } %>
                            <option value="quiz">Quizzes</option>
                        </select>
                    </div>


                </div>
            </section>

            <section class="submission-body" id="submission-body">
            </section>
            <% }%>
</section>