<section class="dashboard-main" id="dashboard-main">
    <!-- Upcoming Events -->
    <section class="upcoming-events dashboard-item" id="upcoming-events">
        <div class="upcoming_events_title">
            <h2>Upcoming Events</h2>
        </div>

        <div class="events-wrapper">
            <ul id="events-list">
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
            </ul>
        </div>
    </section>

    <!-- Assigned Courses -->
    <section class="assigned-courses dashboard-item" id="assigned-courses">
        <div class="assigned_courses_title">
            <h2>Assigned Courses</h2>
        </div>

        <div class="assigned-courses-wrapper">
            <ul id="courses-list">
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
                <li>
                    Loading...
                </li>
            </ul>
        </div>
    </section>
</section>
