<section class="e-library-main">
    <div class="section-header">
        <input type="text" id="search-bar" placeholder="Search resources..." />
        <select id="resource-type">
            <option value="all">All Resources</option>
            <option value="textbooks">TextBooks</option>
            <option value="slides">Lecturer Slides</option>
            <option value="assignments">Assignments</option>
            <option value="recordings">Lecture Recordings</option>
            <option value="past-questions">Past Questions</option>
        </select>
    </div>

    <ul class="resources-list" id="resources-list">
    </ul>
</section>