@media screen and (min-width: 768px) {
    div.container-max_width header {
        border-radius: 1ch;
        width: 100%;
        margin: 1ch auto 0;
        box-shadow: var(--box-shadow-extra-thin);
        height: 60px;
        display: grid;
        grid-template-areas:
        "header search profile"
        ;
        column-gap: 1ch;
        align-items: center;
        z-index: 0;
    }

    /* ---------------------------------------------------------- */

    /* logo styling */
    section#header-logo {
        /* background-color: red; */
        width: max-content;
        grid-area: header;
        display: grid;
        grid-auto-flow: column;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding-inline: 1ch;
    }

    .logo-name h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        margin-left: 0;
    }

    section#header-profile .profile-main > img {
        border: 1px solid #02020258;
        border-radius: 50%;
        transition: all ease-in-out 250ms;
    }

    section#header-profile .profile-main:hover > img {
        border: 1px solid rgb(255, 0, 0);
    }
    /* profile stylng */
    section#header-profile {
        grid-area: profile;
        padding: 1ch 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    section#header-profile .profile-main {
        cursor: pointer;
    }

    section#header-profile .profile-main > img {
        border: 1px solid var(--white);
        border-radius: 50%;
        transition: all ease-in-out 250ms;
    }

    section#header-profile .profile-main:hover > img {
        border: 1px solid rgb(255, 0, 0);
    }

    section#header-profile div.profile-card {
        background-color: var(--background);
        box-shadow: 0px 3px 3px var(--purple);
        position: absolute;
        z-index: 999;
        top: 77px;
        width: 250px;
        border-radius: 8px;
        padding: .5ch;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile-card .profile-card-header {
        border-bottom: 1px solid var(--inactive);
        padding: 1ch;
        display: grid;
        place-items: center;
    }

    .profile-card .profile-card-header img {
        border-radius: 50%;
    }

    .profile-card .profile-card-header .pc-h-y {
        margin-top: 1ch;
        margin-bottom: 3ch;
    }
    
    .profile-card .profile-card-header .pc-h-y  p{
        text-align: center;
        font-size: 14px;
    }

    .profile-card .profile-card-header .inner-wrapper-z {
        border: 1px solid var(--accent);
        cursor: pointer;
        border-radius: 1rem;
        padding: 1ch 2ch;
        transition: all ease-in-out 200ms;
    }

    .profile-card .profile-card-header .inner-wrapper-z a {
        transition: all ease-in-out 200ms;
        color: var(--inactive);
        font-size: 14px;
    }

    .profile-card .profile-card-header .inner-wrapper-z:hover,
    .profile-card .profile-card-header .inner-wrapper-z:focus {
        background-color: var(--accent);
        border: 1px solid transparent;
        box-shadow: 0px 3px 4px rgba(188, 188, 188, 0.151);
    }

    .profile-card .profile-card-header .inner-wrapper-z:hover a,
    .profile-card .profile-card-header .inner-wrapper-z:focus a {
        color: var(--text);
    }

    .profile-card .profile-card-main {
        /* border: 1px solid var(--inactive); */
        padding: 1ch;
        border-radius: 8px;
        margin-top: 1ch;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .profile-card-footer {
        border: 1px solid var(--inactive);
        padding: 1ch;
        border-radius: 8px;
        margin-top: 1ch;
        display: flex;
        flex-direction: column;
    }

    .pc-m-a,
    .pc-m-b,
    .profile-card-footer {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 22px 10ch 30px;
        align-items: center;
        gap: 1ch;
    }

    .pc-m-a > div,
    .profile-card-footer > div {
        display: flex;
        align-items: center;
    }
    
    .pc-m-a-link {
        display: flex;
        justify-content: start;
        align-items: center;
        margin: .7ch;
    }
    
    #u-sp-a {
        padding: 0.5ch;
        cursor: pointer;
        border-radius: 2ch;
    }

    #u-sp-a:hover, #u-sp-a:focus {
        background: #00000043;
    }

    .pc-m-a-link > * {
        font-size: 1.7ch;
    }

    .pc-m-b {
        padding: 0.5ch;
        cursor: pointer;
        border-radius: 2ch;
        display: grid;
        grid-template-columns: 23px 1fr 70px;
        align-items: center;
    }
    
    .pc-m-a img,
    .pc-m-b img,
    .profile-card-footer img {
        width: 22px;
        height: 22px;
    }

    .pc-m-a-toggle {
        display: flex;
        align-items: center;
        height: 100%;
        float: right;
        margin-block: auto;
    }

    button#toggle {
        height: 100%;
        width: 100%;
        text-align: center;
        border-radius: 4px;
        background-color: transparent;
        border-color: var(--primary);
        color: var(--text);
        cursor: pointer;
        transition: all ease-in-out 200ms;
    }

    button#toggle:hover, button#toggle:focus {
        background-color: #0000001d;
        border-color: #000;
    }
    
    button#toggle[data-enabled="true"] {
        background-color: var(--primary);
        color: var(--white);
    
    }

    p#logout:hover, p#logout:focus {
        color: var(--secondary);
    }

    .profile-card.profile-card.hidden > * {
        display: none;
        /* visibility: hidden; */
    }

    
    .profile-card.hidden {
        display: unset;
        display: none;
        visibility: hidden;
    }
}


/* -------------------------------- */
/* mobile styling */

@media screen and (max-width: 768px) {
    div.container-max_width header {
        border-bottom: 1px solid hsl(0, 4%, 95%);
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        height: 60px;
        padding: 0;
        display: grid;
        grid-template-columns: unset;
        grid-template-areas: 
        "logo logo profile"
        "search search search"
        ;
        grid-template-rows: 30px 30px;
    }

    /* ---------------------------------------------------------- */

    /* logo styling */
    section#header-logo {
        grid-column: unset;
        grid-area: logo;
        padding: 0.5ch 0;
        display: flex;
        align-items: center;
        justify-content: right;
        margin-right: 10ch;
        gap: 1ch;
        height: fit-content;
    }

    section#header-logo .logo-img {
        width: 20px;
        height: 20px;
    }
    
    section#header-logo .logo-img img{
        width: 20px;
        height: 20px;
    }

    section#header-logo .logo-name h1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-left: 0;
    }

    /* ---------------------------------------------------- */
    /* profile stylng */
    section#header-profile {
        grid-column: unset;
        grid-area: profile;
        padding: 0  0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    section#header-profile .profile-main {
        cursor: pointer;
    }

    section#header-profile .profile-main > img {
        border: 1px solid #02020258;
        border-radius: 50%;
        transition: all ease-in-out 250ms;
        width: 30px;
        height: 30px;
    }

    section#header-profile .profile-main:hover > img {
        border: 1px solid rgb(58, 58, 58);
    }

    section#header-profile div.profile-card {
        background-color: var(--background);
        position: absolute;
        z-index: 999;
        top: 75px;
        width: 250px;
        border-radius: 8px;
        padding: 2ch;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .profile-card .profile-card-header {
        border: 1px solid var(--inactive);
        border-radius: 8px;
        padding: 1ch;
        display: grid;
        place-items: center;
    }

    .profile-card .profile-card-header .pc-h-y {
        margin-top: 1ch;
        margin-bottom: 3ch;
    }
    
    .profile-card .profile-card-header .pc-h-y  p{
        color: var(--text);
        text-align: center;
    }

    .profile-card .profile-card-header .inner-wrapper-z {
        border: 1px solid hsla(212, 100%, 67%, 0.439);
        cursor: pointer;
        border-radius: 1rem;
        padding: 1ch 2ch;
        transition: all ease-in-out 200ms;
    }

    .profile-card .profile-card-header .inner-wrapper-z a {
        transition: all ease-in-out 200ms;
        color: var(--text);
    }

    .profile-card .profile-card-header .inner-wrapper-z:hover,
    .profile-card .profile-card-header .inner-wrapper-z:focus {
        background-color: aliceblue;
        border: 1px solid transparent;
        box-shadow: 0px 3px 4px rgba(188, 188, 188, 0.151);
    }

    .profile-card .profile-card-header .inner-wrapper-z:hover a,
    .profile-card .profile-card-header .inner-wrapper-z:focus a {
        color: var(--text);
    }

    .profile-card .profile-card-main {
        border: 1px solid hsl(0, 4%, 95%);
        padding: 1ch;
        border-radius: 8px;
        margin-top: 1ch;
        display: flex;
        flex-direction: column;
    }

    .profile-card-footer {
        border: 1px solid hsla(0, 100%, 70%, 0.314);
        padding: 1ch;
        border-radius: 8px;
        margin-top: 1ch;
        display: flex;
        flex-direction: column;
    }

    .pc-m-a,
    .pc-m-b,
    .profile-card-footer {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 22px 10ch 30px;
        align-items: center;
        gap: 1ch;
    }

    .pc-m-a img,
    .pc-m-b img,
    .profile-card-footer img {
        width: 20px;
        height: 20px;
    }

    .pc-m-a-toggle {
        float: right;
        margin-left: 100%;
    }

    .profile-card.profile-card.hidden > * {
        display: none;
        /* visibility: hidden; */
    }
    
    .profile-card.hidden {
        display: unset;
        display: none;
        visibility: hidden;
    }
}
