@media screen and (min-width: 768px) {
    div.container-max_width header {
        width: 100%;
        height: 70px;
        box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
        15px 15px 115px rgba(0, 0, 0, 0.1);
        display: grid;
        align-items: center;
        grid-template-areas:
            "header search profile"
        ;
        column-gap: 1ch;
        align-items: center;
        z-index: 0;
        padding-right: 1ch;
    }


    section#header-logo {
        width: max-content;
        grid-area: header;
        display: grid;
        grid-auto-flow: column;
        display: flex;
        align-items: center;
    }

    .logo-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-name h1 {
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        margin-left: 0;
        color: var(--text-title);
    }

    .logo-img {
        display: flex;
        align-items: center;
    }

    .logo-img img {
        /* width: 70px;
        height: 70px; */
        border-radius: 50px;
        object-fit: cover;
        object-position: center;
    }

    section#header-profile .profile-main>img {
        border-radius: 50%;
        transition: all ease-in-out 250ms;
    }


    /* profile stylng */
    section#header-profile {
        grid-area: profile;
        padding: 1ch 0;
    }
    
    
    section#header-profile {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        column-gap: 2ch;
        padding-right: 2ch;

    }


    section#header-profile .profile-main {
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    section#header-profile .profile-main>img {
        border: 1px solid var(--white);
        border-radius: 50%;
        transition: all ease-in-out 250ms;
    }

    section#header-profile .profile-main.notification-header {
        display: flex;
        padding: 0 10px;
        position: relative;
    }

    section#header-profile .profile-main.notification-header .notification-dot {
        background-color: rgb(255, 89, 0);
        position: absolute;
        top: 0;
        right: 1ch;
        height: 2ch;
        width: 2ch;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }

    section#header-profile .profile-main.notification-header .notification-dot span {
        font-size: 11px;
        color: var(--white);
    }
    
    section#header-profile .profile-main.user_profile-header{
        border: 1px solid rgb(215, 215, 246);
        padding: 1px 10px 1px 0;
        border-radius: calc(1.2 * var(--border-radius));
        display: flex;
        align-items: center;
        gap: 1ch;
    }

    section#header-profile .profile-main.user_profile-header p {
        font-size: 14px;
    }

    section#header-profile div.button-search-activate{
        display: unset;
        display: none;
    }
}

@media screen and (max-width: 768px) {

    div#container-max_width header#header-top_main {
        background-color: var(--background-main);
        margin: 0;
        padding: 0.5ch;
        width: 100%;
        height: 50px;
        overflow-x: hidden;
        display: flex;
        justify-content: space-between;
    }
    div#container-max_width header#header-top_main section#header-profile img {
        width: 35px;
        height: 35px;
    }

    div#container-max_width header#header-top_main section#header-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1ch;
    }

    .logo-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-name h1 {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin-left: 0;
        color: var(--text-title);
    }

    div#container-max_width header#header-top_main .logo-img {
        display: flex;
        align-items: center;
    }

    .logo-img img {
        width: 53px;
        height: 34px;
    }

    div#container-max_width header#header-top_main section#header-seach-bar {
        display: unset;
        display: none;
    }
    section#header-profile .profile-main>img {
        border-radius: 50%;
        transition: all ease-in-out 250ms;
    }
    
    section#header-profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 2ch;
        float: right;
    }


    section#header-profile .profile-main {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    
    section#header-profile .profile-action {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
    }

    section#header-profile .profile-main>img {
        border: 1px solid var(--white);
        border-radius: 50%;
        transition: all ease-in-out 250ms;
    }

    section#header-profile .profile-main.notification-header {
        display: flex;
        column-gap: 1ch;
    }

    section#header-profile .profile-main.notification-header .notification-dot {
        background-color: rgb(255, 89, 0);
        position: absolute;
        top: 0;
        right: 0.3ch;
        height: 1.6ch;
        width: 1.6ch;
        border-radius: 50%;
        display: grid;
        place-items: center;
    }

    section#header-profile .profile-main.notification-header .notification-dot span {
        font-size: 10px;
        color: var(--white);
    }
    
    section#header-profile .profile-main.user_profile-header{
        border-radius: calc(1.2 * var(--border-radius));
        display: flex;
        align-items: center;
        gap: 1ch;
    }

    section#header-profile .profile-main.user_profile-header p {
        display: block;
    }


    div.button-search-activate img {
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
}