@font-face {
    font-family: 'noto regular';
    src: url('/fonts/NotoRegular');
}

:root {
    /* colors */
    --text: #051e0e;
    --white: #ffffff;
    --background: #f8fefb;
    --background-main: #e8ebea;
    --primary: #3074d9;
    --secondary: #82e6e8;
    --accent: #57b0e0;
    --red: #ac0000;
    --blue: #4648cf;
    --purple: #905fae;


    /* fonts */
    --default-font-face: 'noto regular';
    --font-small: 11px;
    --font-standard: 14px;
    --font-medium: 18px;
    --font-large: 26px;
    --font-extra: 48px;

    /* margins and padding */
    --margin-small: 10px;
    --margin-medium: 17px;
    --margin-large: 4.5rem;
    --margin-all-pix: 10px 20px;
    --margin-all-em: 0.6rem 1rem;
    --padding-all-pix: 10px 20px;
    --padding-all-em: 0.6rem 1rem;

    /* borders and border-radius */
    --border-default: 1px solid var(--text);
    --border-radius: 7rem;
    --border-radius-thin: 0.5rem;
    --boder-radius-circle: 50%;

    /* box shadows */
    --box-shadow-thin: 0px 3px 3px #68606089;
    --box-shadow-extra-thin: 0px 3px 3px rgba(223, 221, 221, 0.834);

    /* input-fields */
    --button-height: 45px;
    --button-width: 100px;
}

ul,
ol,
li {
    list-style: none;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none !important;
    font-family: var(--default-font-face);
    color: var(--text);
}

*::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
*::-webkit-scrollbar-track {
    background-color: var(--accent);
    border-radius: 50px;
    height: 90%;
    width: 90%;
}

*::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: green;
}

body {
    background-color: var(--background);
    font-size: var(--font-standard);
}


@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-areas:
            "header header header"
            "sidenav main main";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
    }

    button {
        width: var(--button-width);
        height: var(--button-height);
        border-radius: 0.7rem;
        border: 1px solid transparent;
        background-color: var(--primary);
        color: var(--white);
        transition: all ease-in-out 200ms;
    }
}

button[disabled] {
    background-color: grey;
    color: #092061;
}

*.hidden {
    display: none;
}

*.blur {
    filter: blur(5px);
}

.popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    color: var(--text);
    background: var(--background);
    opacity: 1;
    transition: 0.3s;
    border-radius: 15px;
}

.popup>* {
    color: var(--text);
}

.close {
    /* background-color: #1b191b; */
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

.toast {
    position: fixed;
    top: -100px;
    /* Initially hidden above the viewport */
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: top 0.5s ease-in-out;
    z-index: 9999;
    min-width: 100px;
    min-height: fit-content;
}

.toast #toastText {
    color: var(--white);
}

.toast.show {
    top: 70px;
}