section#header-seach-bar {
    grid-area: search;
    /* width: 35%; */
    /* margin: 1ch auto; */
}

section#header-seach-bar .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 120px;
    height: 45px;
    border-radius:1ch;
}

section#header-seach-bar .dropdown {
    border: none;
    outline: none;
    position: relative;
    width: var(--button-width);
    height: var(--button-height);
    text-align: center;
    font-size: small;
    color: var(--white);
    border-radius:1ch;
    background-color: var(--primary);
    cursor: pointer;
    margin-right: 10px;
}

section#header-seach-bar .dropdown:hover,
section#header-seach-bar .dropdown:focus {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--text);
}

section#header-seach-bar .dropdown:hover,
section#header-seach-bar .dropdown:focus {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--text);
}

section#header-seach-bar select>option {
    display: unset;
    display: flex;
    min-height: unset;
    color: var(--white);
    width: 150px;
}

section#header-seach-bar .dropdown:hover > option,
section#header-seach-bar .dropdown:focus > option {
    color: var(--text);
}

section#header-seach-bar .search-box {
    display: flex;
    align-items: center;
    /* padding-right: 1rem; */
    width: 100%;
    height: 45px;
    border: 1px solid var(--primary);
    border-radius:1ch;
    background-color: var(--background);

}

section#header-seach-bar .search-box input {
    border-radius:1ch;
    background-color: var(--background);
    width: 100%;
    height: 40px;
    text-indent: 10px;
    font-size: var(--font-standard);
    font-weight: 500;
    color: var(--text);
    border: 0;
    outline: 0;
}

section#header-seach-bar .search-box i img {
    cursor: pointer;
    margin-right: 0;
    width: 30px;
    height: 30px;
}

section#header-seach-bar .search-box input::placeholder {
    font-size: var(--font-standard);
    font-weight: 500;
    color: var(--text);
}

section#header-seach-bar button#searchBtn {
    background-color: none;
    background: none;
    border: none;
    outline: 0;
}

div.results-container {
    transition: all ease-in-out 250ms;
    z-index: 9999;
    background-color: var(--background);
    box-shadow: 0px 3px 3px #111;
    position: absolute;
    top: 100%;
    margin-top: 10px;
    padding: 0 10px;
    border-radius:1ch;
    min-width: 100%;
    min-height: max-content;
    max-height: 400px;
    overflow-y: scroll;
}

#search-matches {
    position: sticky;
    top: 0;
    background-color: var(--white);
    padding: 5px;
}

div.results-container ul {
    margin-top: 2ch;
    padding: 0 1ch 2ch 0;
    display: grid;
    grid-template-rows: auto;
    gap: 5px;
}

div.results-container ul li.results-item {
    border-radius:1ch;
    padding: 5px;
}

div.results-container ul li.results-item:hover {
    background-color: var(--inactive);
}

div.results-container ul li.results-item:hover>a>* {
    color: var(--text);
}

li.results-item a h2 {
    font-size: 14px;
    font-weight: 300;
}

li.results-item a p {
    font-size: 11px;
}