nav#nav-main.open {
    width: 99%;
}

nav#nav-main.closed {
    width: 80px;
}

nav#nav-main {
    position: relative;
    display: grid;
    grid-template-rows: 70% 30%;
    height: 100%;
    width: 100%;
    background-color: var(--background); 
}

nav#nav-main>section {
    border-radius: inherit;
}

nav#nav-main i.side-nav_icon img {
    width: 20px;
    height: 20px;
}

section.side-nav_list {
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

section.side-nav_actions {
    display: grid;
    justify-content: safe;
    place-items: center;
    margin-top: 3rem;
    height: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    width: 100%;
    height: 100%;
    padding: 1ch;
    cursor: pointer;
}

ul li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul li div.abstract-tooltip {
    position: absolute;
    left: calc(100% + 3ch);
    visibility: hidden;
}

ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    line-height: 1ch;
    padding: 1ch;
    border-radius: 1ch;
    column-gap: 3ch;
    transition: all ease-in-out 250ms;
}

ul a[aria-current="page"] {
    background-color: var(--background-main);
}

ul a[aria-current="page"]>p {
    color: var(--text);
}

ul li a:hover,
ul li a :focus {
    background-color: var(--background-main);
}

ul li a img {
    width: 20px;
    height: 20px;
}

ul li a p {
    font-size: 14px;
    line-height: 1.5;
}
