nav.sidebar {
    grid-area: sidenav;
    width: 80px;
    background-color: var(--background-body);
    display: grid;
    grid-template-areas:
        "logo"
        "user"
        "nav"
        "nav"
        "exit"
        ;
    grid-template-columns: auto;
    grid-template-rows: 10% 25% 55% 10%;
}

/* .user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
} */

.user p {
    color: #fff;
    /* opacity: 1; */
    margin-left: 1rem;
}

section.adminProfileCard div{
    display: flex;
    flex-flow: row;
}

section.adminProfileCard div.img-div {
    display: grid;
    margin-left: 10px;
}

.user-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    /* border-radius: 1rem; */
    /* background-color: var(--color-theme-1-light); */
    margin-right: 0.4rem;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease-in-out;
}

.sidebar.active~.main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 10px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}

.top .logo i {
    cursor: pointer;
    font-size: 10px;
    margin-right: 5px;
    text-align: center;
}



.bold {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    padding: 0 0.5rem;
}

.sidebar li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar i img {
    width: 30px;
    height: 30px;
}

.sidebar li a:hover .nav-item,
.sidebar li a:hover i {
    scale: 1.1;
}

.sidebar li a i {
    width: 50px;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-right: 1rem;
}

.sidebar .nav-item {
    color: #fff;
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    background-color: #eee;
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 999;
    visibility: hidden;
    color: var(--background-body);
}

.sidebar li:hover .tooltip {
    visibility: visible;
}

.sidebar.sidebar.active li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}

.role {
    background-color: #f740bd6e;
    width: fit-content;
    padding: 0.1rem 0.6rem;
    border-radius: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}