.classes-btn-tooltip {
    visibility: hidden;
    width: fit-content;
    position: absolute;
    bottom: -25px;
    background-color: aliceblue;
    padding: 3px 7px;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #d8d8d8;
    transition: all ease-in-out 250ms;
}

section#classes-parent_container {
    height: 100%;
    display: flex;
    flex-flow: column;
    padding: 10px 5px;
}



section#classes-parent_container article.header div.button-wrapper {
    position: relative;
    background-color: #000;
}

article.header a {
    width: fit-content;
    padding: 10px 7px;
    border-radius: 7px;
    float: right;
    cursor: pointer;
    transition: all ease-in-out 250ms;
    margin: 0 10px;
}

article.header a#manual {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);

}

article.header a#manual:hover {
    border-color: var(--accent);
    background-color: transparent;
    color: var(--text);
}

article.header a#script {
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--white);

}

article.header a#script:hover {
    border-color: var(--secondary);
    background-color: transparent;
    color: var(--text);
}

article.header a#script:hover~.classes-btn-tooltip#run-script {
    visibility: visible;
}

article.header a#manual:hover~.classes-btn-tooltip#run-manual {
    visibility: visible;
}

article.classes-list {
    height: 100%;
    overflow-y: hidden;
    padding: 4px 10px;
}

article.classes-list div.classes-list-right {
    height: 100%;
    overflow-y: scroll;
    width: 60%;
    display: flex;
    flex-flow: column;
    gap: 10px;
    float: left;
    box-shadow: 0px 3px 5px #4e4e4e4c;
    border-radius: 10px;
}

 h3 {
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    text-indent: 20px;
}

article.classes-list ul#admin-class-list-ul {
    background-color: rgba(255, 255, 255, 0.689);
    min-height: 150px;
    padding: 10px 20px;
    border-radius: 12px;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

article.classes-list ul#admin-class-list-ul li.admin-class-list-li {
    background-color: var(--background);
    backdrop-filter: blur(4px);
    border: 1px solid;
    border-color: var(--background);
    border-radius: 12px;
    width: 99%;
    height: fit-content;
    padding: 10px 20px;
}
article.classes-list ul#admin-class-list-ul li.admin-class-list-li:hover {
    background-color: rgba(0, 0, 0, 0.046);
}

article.classes-list ul#admin-class-list-ul li.admin-class-list-li a {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 40% 20% 30%;
    gap: 5px;
    align-items: center;
    padding: 3px 6px;
    border-radius: 16px;
}

li.admin-class-list-li a div.class-profile-image img {
    border-radius: 12px;
}

li.admin-class-list-li a div.class-info {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

li.admin-class-list-li a div.class-info div.class-id p{
    font-size: 16px;
    font-weight: 600;
}

li.admin-class-list-li a div.class-info div.class-count p{
    font-size: 11px;
    color: grey;
}

li.admin-class-list-li a div.courses-info {
    height: 100%;
    width: 100%;
}


li.admin-class-list-li a div.courses-info span {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 150ms;
}

li.admin-class-list-li a div.courses-info span:hover {
    text-decoration: underline;
    color: grey;
}

div.schedule-btn {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: right;
}

div.schedule-btn button {
    cursor: pointer;
    border: 1px solid var(--purple);
    background-color: var(--purple);
    float: right;
}

div.schedule-btn button:hover {
    border-color: var(--purple);
    background-color: var(--white);
    color: var(--text);
}

div.classes-list-left {
    float: right;
    height: 100%;
    overflow-y: scroll;
    min-height: 150px;
    padding: 0 20px 10px 20px;
    border-radius: 12px;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
    /* background-color: rgba(255, 255, 255, 0.689); */
    /* box-shadow: 0px 3px 3px #82828259; */
}

div.classes-list-left h3 {
    height: 100%;
    background-color: var(--white);
    position: sticky;
    top: 0;
}

div.classes-list-left .student-li  {
    width: 290px;
    border-radius: 16px;
}

ul#students-unassigned {
    display: flex;
    gap: 10px;
    flex-flow: column
}

div.classes-list-left .student-lidiv.classes-list-left .student-li {
    height: fit-content;
}

div.classes-list-left .student-li a {
    border-radius: 4px;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 5px #4e4e4e4c;
    gap: 10px;
}

div.classes-list-left .student-li a .student-profile-image img {
    border-radius: 10px;
}

div.classes-list-left .student-li a div.student-info div.student-name p {
    font-weight: bold;
}

