/* Tooltip */
.classes-btn-tooltip {
    visibility: hidden;
    width: max-content;
    position: absolute;
    bottom: -35px;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: visibility 0.25s ease-in-out;
    font-size: 12px;
    color: #333;
}

/* Section Container */
section#classes-parent_container {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

/* Header and Button Styling */
section#classes-parent_container article.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

section#classes-parent_container article.header div.button-wrapper {
    position: relative;
}

article.header a {
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 10px;
    text-decoration: none;
}

article.header a#script {
    border: 1px solid var(--primary);
    background-color: var(--primary);
    color: var(--white);
}

article.header a#script:hover {
    background-color: var(--primary-dark);
    color: var(--white);
}

article.header a#script:hover ~ .classes-btn-tooltip#run-script {
    visibility: visible;
}

/* Classes List Styling */
article.classes-list {
    flex-grow: 1;
    padding: 20px;
    background-color: var(--white);
    border-radius: 12px;
}

article.classes-list div.classes-list-right {
    overflow-y: auto;
    width: 100%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
}

h3 {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #333;
}

/* Admin Class List Styling */
article.classes-list ul#admin-class-list-ul {
    padding: 10px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
}

article.classes-list ul#admin-class-list-ul li.admin-class-list-li {
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 15px;
}

article.classes-list ul#admin-class-list-ul li.admin-class-list-li a {
    display: grid;
    grid-template-columns: 15% 35% 20% 30%;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 5px 10px;
    border-radius: 8px;
}

li.admin-class-list-li a div.class-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

li.admin-class-list-li a div.class-info div.class-id p {
    font-size: 16px;
    font-weight: 600;
}

li.admin-class-list-li a div.class-info div.class-count p {
    font-size: 12px;
    color: #777;
}

li.admin-class-list-li a div.courses-info span {
    font-size: 14px;
    color: #555;
    text-align: center;
}

div.schedule-btn {
    display: flex;
    justify-content: flex-end;
}

div.schedule-btn button {
    cursor: pointer;
    width: 120px;
    height: 45px;
    border: 1px solid #6f42c1;
    background-color: #6f42c1;
    color: var(--white);
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

div.schedule-btn button:hover {
    background-color: var(--white);
    color: #6f42c1;
}