div.section-header {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}
div.section-header-nav>a {
    margin: 0 .5rem;
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    float: right;
    color: var(--white);
    background-color: var(--secondary);
    border: 1px solid transparent;
    transition: all ease-in-out 250ms;
}

div.section-header-nav>a#organise-courses-btn {
    background-color: var(--primary);
}

div.section-header-nav>a:hover {
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--secondary);
}
div.section-header-nav>a#organise-courses-btn:hover {
    background-color: transparent;
    color: var(--text);
    border: 1px solid var(--primary);
}
section#courses-section {
    padding: 7px 11px;
}

article.cards {
    padding: 3px 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 7px;
}

article.cards div.card {
    background-color: var(--background);
    padding: 1ch;
    width: 350px;
    /* height: 300px; */
    box-shadow: var(--box-shadow-extra-thin);
    border-radius: 1ch;
    cursor: pointer;
}

div.card section.card-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: 1ch;
}

div.card section.card-body div.title {
    height: 100px;
    display: block;
}

div.card section.card-body div.title small {
    font-size: var(--font-standard);
    color: var(--primary);
    font-weight: 600;
}

div.card section.card-body div.title h2 {
    font-size: var(--font-large);
    color: var(--text-body);
}

div.card section.card-body div.professor {
    display: flex;
    align-items: center;
    gap: 1ch;
}

div.card section.card-body div.professor img {
    width: 25px;
    height: 25px;
}

div.card section.card-body div.professor p {
    color: var(--text);
}

div.card section.card-body div.footer {
    display: flex;
    flex-flow: column;
    gap: 1ch;
}

div.highlight-footer.h-level small {
    color: var(--text);
}
div.highlight-footer.h-level span.one {
    color: orangered;
}

div.highlight-footer.h-level span.two {
    color: red;
}
div.highlight-footer.h-level span.three {
    color: blue;
}
div.highlight-footer.h-level span.four {
    color: rgb(96, 0, 240);
}

div.card section.card-body div.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2ch;
    padding: 0.4ch 1ch;
}

div.card section.card-body div.actions button {
    height: 37px;
    width: 80px;
    border: 1px solid transparent;
    outline: 1px solid transparent;
    border-radius: 1ch;
    cursor: pointer;
    transition: var(--transition-default);
}

div.card section.card-body div.actions button#c-update-btn {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
}

div.card section.card-body div.actions button#c-update-btn:hover,
div.card section.card-body div.actions button#c-update-btn:focus {
    background-color: var(--primary-dark);
    color: var(--white);
    border-color: var(--primary-dark); 
}

div.card section.card-body div.actions button#c-delete-btn {
    background-color: transparent;
    color: var(--text-body);
    border-color: var(--red);
}

div.card section.card-body div.actions button#c-delete-btn:hover,
div.card section.card-body div.actions button#c-delete-btn:focus {
    background-color: var(--red);
    color: var(--white);
    border-color: var(--red); 
}