@media (min-width: 768px) {
    main.wrapper-main {
        grid-area: main;
        border-radius: 1rem;
        height: 90vh;
        overflow-y: scroll;
        margin-right: 10px;
        background-color: var(--background-main);
    }
}