section.registration-code_carousel {
    width: 100%;
    padding: 1ch;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-padding: 1ch;
}

section.registration-code_carousel div.carousel-wrapper {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2ch;
    padding: 1ch;
    height: 105px;
    width: 100%;
    overflow-x: auto;
}

section.registration-code_carousel div.carousel-wrapper div.carousel-card {
    background-color: var(--white);
    display: grid;
    width: 150px;
    height: 100%;
    border-radius: 1ch;
    border: 1px solid transparent;
    box-shadow: 0px 1px 1px #8380808c;
    cursor: pointer;
    transition: var(--transition-default);
    flex-shrink: 0;
}

section.registration-code_carousel div.carousel-wrapper div.carousel-card.active {
    box-shadow: 0px 2px 2px 2px #545252a0;
}

section.registration-code_carousel div.carousel-wrapper div.carousel-card:hover,
section.registration-code_carousel div.carousel-wrapper div.carousel-card:focus {
    background-color: #f1fbeb;
    border: 1px solid #90f55a;
}

section.registration-code_carousel div.carousel-wrapper div.carousel-card.active:hover,
section.registration-code_carousel div.carousel-wrapper div.carousel-card.active:focus {
    box-shadow: 0px 1px 1px #8380808c;
}

section.registration-code_carousel div.carousel-wrapper div.carousel-card div.card-inner-wrapper {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

section.registration-code_carousel div.carousel-wrapper div.carousel-card div.card-inner-wrapper h3 {
    color: var(--black);
    width: inherit;
    height: inherit;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.registration-code_carousel div.carousel-wrapper div.carousel-card.active div.card-inner-wrapper h3 {
    color: black;
}

/* ul */

section.list_main {
    margin-top: 3ch;
    padding: 1ch;
    min-height: 150px;
    display: flex;
    justify-content: center;
}

section.list_main form {
    background-color: var(--white);
    padding: 1ch 2ch;
    border-radius: 1ch;
    width: 87%;
    height: inherit;
    display: flex;
    flex-direction: column;
}

section.list_main form div.title-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.list_main form div.title-and-btn div.section-title h3 {
    color: black;
    font-size: 22px;
}

section.list_main form div.title-and-btn div.section-btn {
    display: flex;
    gap: 1ch;
    width: fit-content;
    height: 45px;
    border-radius: 1ch;
}

section.list_main form div.title-and-btn div.section-btn button {
    border: 1px solid transparent;
    width: 120px;
    height: 45px;
    border-radius: 1ch;
    transition: var(--transition-default);
}

section.list_main form div.title-and-btn div.section-btn button.btn-disabled {
    cursor: no-drop;
    background-color: #c5c1c1;
}

section.list_main form div.title-and-btn div.section-btn button.btn-enabled {
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
}

section.list_main form div.title-and-btn div.section-btn button.btn-enabled.reset-btn {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--red);
    cursor: pointer;
}

section.list_main form div.title-and-btn div.section-btn button.btn-enabled:hover,
section.list_main form div.title-and-btn div.section-btn button.btn-enabled:focus {
    border: 1px solid var(--primary);
    background-color: var(--primary-dark);
    color: var(--white);
}

section.list_main form div.title-and-btn div.section-btn button.btn-enabled.reset-btn:hover,
section.list_main form div.title-and-btn div.section-btn button.btn-enabled.reset-btn:focus {
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--red);
}

section.list_main form section.list-ul-wrapper {
    margin-top: 2ch;
}

section.list-ul-wrapper div ul {
    display: grid;
    grid-auto-flow: row;
    row-gap: 1ch;
}

section.list-ul-wrapper div ul li {
    background-color: #f2f0f0;
    height: 50px;
    min-width: max-content;
    max-width: 80%;
    padding: 1ch;
    border-radius: 1ch;
    display: flex;
    gap: 1.3ch;
    align-items: center;
}

section.list-ul-wrapper div ul li label {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-basis: max-content;
    gap: 1.5ch;
}

section.list-ul-wrapper div ul li label div.course_code-title {
    flex-shrink: 0;
    display: flex;
    gap: 1ch;
}
section.list-ul-wrapper div ul li label div span.tutor_name {
    color: var(--black);
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
}

.list-ul-wrapper div ul li input[type="checkbox" i] {
    width: 20px;
    height: 20px;
    background-color: #cecece;
    appearance: unset;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #070707;
    cursor: pointer;
    position: relative;
}

.list-ul-wrapper div ul li input[type="checkbox" i]:checked {
    background-color: green;
}

.list-ul-wrapper div ul li input[type="checkbox" i]::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgb(254, 252, 252);
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.list-ul-wrapper div ul li input[type="checkbox" i]:checked::before {
    background-color: green;
}