@media screen and (min-width: 768px) {
    div.section-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        width: 100%;
    }
    
    button#nextPage, button#resetBtn {
       display: none;
    }
    div.section-header-nav>a {
        margin: 0 .5rem;
        padding: 1rem 2rem;
        border-radius: var(--border-radius);
        float: right;
        color: var(--white);
        background-color: var(--accent);
        border: 1px solid transparent;
        transition: all ease-in-out 250ms;
    }
    
    div.section-header-nav>a:hover {
        background-color: transparent;
        color: var(--text);
        border: 1px solid var(--accent);
    }
    
    section#courses-section {
        padding: 7px 11px;
    }
    
    article.cards {
        padding: 3px 4px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 10px;
        column-gap: 7px;
    }
    
    article.cards a.card {
        background-color: var(--background);
        border: 1px solid var(--inactive);
        width: 310px;
        height: fit-content;
        color: unset;
        text-decoration: unset;
        cursor: pointer;
        border-radius: 9px;
    }
    
    section.card-header {
        width: 100%;
        height: 45%;
        margin-bottom: 4px;
    }
    
    section.card-header img {
        width: 100%;
        height: 100%;
        aspect-ratio: 4 / 3;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
    }
    
    a.card section.card-body {
        height: fit-content;
        border-radius: 9px;
        display: grid;
        grid-template-rows: repeat(3, 50px);
        align-items: center;
        padding-inline: 15px;
    }
    
    a.card section.card-body div.title {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
    }
    
    a.card section.card-body div.title h2 {
        font-family: sans-serif;
        font-size: 17px;
        font-weight: 400;
        text-wrap: wrap;
    }
    
    a.card section.card-body div.title small {
        background-color: rgb(96, 179, 252);
        padding: 10px;
        border-radius: 50px;
        color: var(--white);
    }
    
    a.card section.card-body div.professor {
        display: flex;
        align-items: center;
        gap: 7px;
    }
    
    a.card section.card-body div.professor img {
        width: 22px;
        height: 22px;
    }
    
    a.card section.card-body div.professor p {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    
    a.card section.card-body div.footer {
        display: flex;
        flex-flow: row;
        gap: 15px;
        padding: 1ch 0;
    }
    
    a.card section.card-body div.footer div {
        padding: 3px 5px;
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
        gap: 3px;
    }
    
    a.card section.card-body div.footer div img {
        width: 20px;
        height: 20px;
    }
    
    a.card section.card-body div.footer div small {
        font-family: sans-serif;
        font-weight: 200;
        font-size: 11px;
    }    
}

@media screen and (max-width: 768px) {
    
    article.cards {
        padding: 3px 4px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        column-gap: 7px;
    }
    
    article.cards a.card {
        background-color: var(--background);
        border: 1px solid var(--inactive);
        width: 100%;
        height: 120px;
        color: unset;
        text-decoration: unset;
        cursor: pointer;
        border-radius: 1ch;
        display: grid;
        grid-template-columns: 25% 75%;
    }
    
    section.card-header {
        width: 100px;
        height: 100%;
        margin-bottom: 4px;
    }
    
    section.card-header img {
        width: 100%;
        height: 100%;
        aspect-ratio: 4 / 3;
        border-top-left-radius: 1ch;
        border-bottom-left-radius: 1ch;
    }
    
    a.card section.card-body {
        margin-left: 2ch;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: .5ch;
    }
    
    a.card section.card-body div.title {
        margin-top: 1ch;
        height: fit-content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1ch;
        align-items: center;
    }
    
    a.card section.card-body div.title h2 {
        font-family: sans-serif;
        font-size: 15px;
        font-weight:600;
        text-wrap: wrap;
    }
    
    a.card section.card-body div.title small {
        color: var(--text);
    }
    
    a.card section.card-body div.professor {
        display: flex;
        align-items: center;
    }
    
    a.card section.card-body div.professor img {
        display: none;
        width: 22px;
        height: 22px;
    }
    
    a.card section.card-body div.professor p {
        font-family: sans-serif;
        font-weight: 400;
        font-size: 14px;
    }
    
    a.card section.card-body div.footer {
        display: flex;
        flex-flow: row;
        float: right;
    }
    
    a.card section.card-body div.footer div {
        border-radius: 0.4rem;
        display: flex;
        align-items: center;
    }
    
    a.card section.card-body div.footer div img {
        width: 20px;
        height: 20px;
    }
    
    a.card section.card-body div.footer div small {
        font-family: sans-serif;
        font-weight: 200;
        font-size: 11px;
    }
}