

@media screen and (min-width: 768px) {
    main#wrapper {
        max-width: 1248px;
        margin-inline: auto;
        background-color: #3fffac;
        display: grid;
        /* align-items: center;
        justify-content: center; */
        position: relative;
    }
    section.course-overview {
        background-color: #ffffff;
        border: 1px solid #ddd;
        width: 70%;
        height: 531px;
        margin: 1rem 0;
        padding: 7px 15px;
        display: flex;
        flex-flow: column;
        gap: 7px;
        border-radius: 10px;
    }
    section.course-overview article.overview-header {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        padding: 4.3px 15px;
    }
    
    section.course-overview article.overview-header .coursetitle h1 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 17px;
        padding: 7px 14px;
    }
    
    .overview-header div.add-lesson-chapter button {
        padding: 7px 14px;
        background-color: #3f3fff;
        outline: none;
        width: fit-content;
        float: right;
        border: 1px solid #3f3fff;
        color: white;
        border-radius: 7px;
        cursor: pointer;
        box-shadow: 1px 3px 3px #bbb9b9;
    }
    
    .overview-header div.add-lesson-chapter button:hover {
        border: 1px solid #3f3fff;
        background-color: white;
        color: black;
        transition: all ease-in-out 150ms;
    }
    
    /* chapters */
    
    article.chapters {
        display: flex;
        gap: 7px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-bottom: 15px;
    }
    
    article.chapters div.chapter {
        background-color: #ffffff;
        width: 220px;
        border-radius: 7px;
        border: 1px solid #ddd;
        box-shadow: inset;
    }
    
    article div .chapter-banner img {
        width: 100%;
        height: 70px;
        aspect-ratio: 4 / 3;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }
    
    article div.chapter .chapter-description {
        display: flex;
        flex-direction: column;
        padding: 5px 25px;
    }
    
    .chapter-description .chpt-des-outline {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    
    .chapter-description .chpt-des-outline .outline-title h2 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
    }
    
    
    .chpt-des-outline .outline-chapters ol {
        overflow-y: scroll;
        width: 100%;
        padding-left: 19px;
        height: 140px;
    }

    .chpt-des-outline .outline-chapters ol::-webkit-scrollbar {
        display: none;
    }
    
    .chpt-des-outline .outline-chapters ol>li {
        margin-block: 3.56px;
        color: #b4aeae;
        list-style: decimal;
    }
    
    .chpt-des-outline .outline-chapters ol>li {
        font-size: 10px;
        margin: 5px 0;
    }
    
    .add-chapter-lesson>button {
        margin-top: 15px;
        color: var(--text);
        width: fit-content;
        background-color: white;
        padding: 7px 14px;
        border: 1px solid #e8e6e6;
        border-radius: 7px;
        outline: none;
        cursor: pointer;
        box-shadow: inset;
    }
    
    .add-chapter-lesson>button:hover {
        background-color: #3fffac;
        color: #372e2e;
        font-weight: 500;
        border: 1px solid #3fffac;
    }
    
    div.chaper-stats {
        margin-top: 15px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 7px;
        align-items: center;
    }
    
    div.chaper-stats>div {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    div.chaper-stats>div>img {
        width: 20px;
        height: 20px;
    }
    
    div.chaper-stats>div>div {
        border-left: 3px solid #bdbdbd;
        padding-left: 10px;
    }
    
    div.chaper-stats>div>div>p {
        color: #8a8a8a;
        font-family: sans-serif;
        font-size: 12px
    }
    
    div.chaper-stats>div>div>small {
        color: #8a8a8a;
        font-family: sans-serif;
        font-size: 12px
    }
    
    div.chapter-actions {
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
        place-items: center;
    }
    
    div.chapter-actions div.chapter-actions-btns>a {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        border: 1px solid #cdcdcd;
        border-radius: 7px;
        outline: none;
        background-color: white;
        box-shadow: 1px 3px 3px #c5c5c58f;
    
    }
    
    div.chapter-actions div.chapter-actions-btns>a#del-btn:hover {
        border-color: var(--red);
        background-color: var(--red);
    }
    
    div.chapter-actions div.chapter-actions-btns>a#del-btn:hover > img {
        display: none;
    }

    div.chapter-actions div.chapter-actions-btns>a#live-btn:hover {
        border-color: var(--accent);
        background-color: var(--accent);
    }
    
    div.chapter-actions div.chapter-actions-btns>a#live-btn:hover > img {
        display: none;
    }

    div.chapter-actions div.chapter-actions-btns>a:hover > p {
        color: #ffffff;
    }
    
    div.chapter-actions div.chapter-actions-btns>a>p {
        font-family: sans-serif;
        font-size: 11px;
        margin-left: 2px;
    }
    
    form#lessonForm {
        margin-left: 1rem;
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px #cdcdcd;
        min-width: fit-content;
        width: 300px;
        display: grid;
        gap: 10px;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 37%;
    }
    
    form#lessonForm div {
        display: grid;
        gap: 5px;
    }
    
    form#lessonForm div input {
        height: 30px;
        min-width: 90%;
        max-width: 300px;
        margin: 0;
    }
    
    form#lessonForm div label {
        font-weight: 500;
        font-size: 15px;
    }
    
    form#lessonForm button {
        width: 150px;
        height: 35px;
        margin: auto;
        cursor: pointer;
    }
    
    form#lessonForm.hidden {
        display: unset;
        position: unset;
        display: none;
    }
}

@media screen and (max-width: 767px) {
    main#wrapper {
        width: calc(100vw - 1rem);
        margin-inline: auto;
        padding: 1rem 0;
    }

    section.course-overview {
        border-radius: 7px;
        background-color: #ffffff;
        box-shadow: 1px 3px 3px #919191;
        width: 100%;
        height: max-content;
        margin: 5px auto;
        padding: 4px ;
        display: flex;
        flex-flow: column;
        gap: 2px;
    }

    section.course-overview article.overview-header {
        display: grid;
        grid-template-rows: 1fr 1fr;
        align-items: center;
        padding: 3px 0;
    }

    section.course-overview article.overview-header .coursetitle h1 {
        font-family: sans-serif;
        font-size: 13px;
        font-weight: 600;
        padding: 7px 14px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 80%;
    }

    .overview-header div.add-lesson-chapter button {
        width: fit-content;
        padding: 7px 14px;
        margin: 0 20px;
        background-color: #3f3fff;
        outline: none;
        border: 1px solid #3f3fff;
        color: white;
        border-radius: 7px;
        cursor: pointer;
        box-shadow: 1px 3px 3px #bbb9b9;
        float: left;
    }

    .overview-header div.add-lesson-chapter button:hover {
        border: 1px solid #3f3fff;
        background-color: white;
        color: black;
        transition: all ease-in-out 150ms;
    }

    /* chapters */

    article.chapters {
        display: grid;
        grid-auto-flow: column;
        gap: 7px;
        overflow-x: scroll;
        scroll-behavior: smooth;
        padding-bottom: 15px;
    }

    article.chapters div.chapter {
        background-color: #ffffff;
        width: 220px;
        border-radius: 7px;
        box-shadow: 1px 3px 3px #ddd;
        box-shadow: inset;
    }

    article div .chapter-banner img {
        width: 100%;
        height: 90px;
        aspect-ratio: 4 / 3;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
    }

    article div.chapter .chapter-description {
        display: flex;
        flex-direction: column;
        padding: 5px 25px;
    }

    .chapter-description .chpt-des-outline {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    .chapter-description .chpt-des-outline .outline-title h2 {
        font-family: sans-serif;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 5px;
    }


    .chpt-des-outline .outline-chapters ol {
        overflow-y: scroll;
        width: 100%;
        padding-left: 19px;
        height: 140px;
    }

    .chpt-des-outline .outline-chapters ol::-webkit-scrollbar {
        display: none;
    }

    .chpt-des-outline .outline-chapters ol>li {
        margin-block: 3.56px;
        color: #b4aeae;
        list-style: decimal;
    }

    .chpt-des-outline .outline-chapters ol>li {
        font-size: small;
        margin: 5px 0;
    }

    .add-chapter-lesson>button {
        margin-top: 15px;
        color: var(--text);
        width: fit-content;
        background-color: white;
        padding: 7px 14px;
        border: 1px solid #e8e6e6;
        border-radius: 7px;
        outline: none;
        cursor: pointer;
        box-shadow: inset;
    }

    .add-chapter-lesson>button:hover {
        background-color: #3fffac;
        color: #372e2e;
        font-weight: 500;
        border: 1px solid #3fffac;
    }
    
    div.chaper-stats {
        margin-top: 15px;
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 7px;
        align-items: center;
    }
    
    div.chaper-stats>div {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    div.chaper-stats>div>img {
        width: 20px;
        height: 20px;
    }
    
    div.chaper-stats>div>div {
        border-left: 3px solid #bdbdbd;
        padding-left: 10px;
    }
    
    div.chaper-stats>div>div>p {
        color: #8a8a8a;
        font-family: sans-serif;
        font-size: 12px
    }
    
    div.chaper-stats>div>div>small {
        color: #8a8a8a;
        font-family: sans-serif;
        font-size: 12px
    }
    
    div.chapter-actions {
        padding: 5px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 7px;
        place-items: center;
    }
    
    div.chapter-actions div.chapter-actions-btns>a {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        border: 1px solid #cdcdcd;
        border-radius: 7px;
        outline: none;
        background-color: white;
        box-shadow: 1px 3px 3px #c5c5c58f;
    
    }
    
    div.chapter-actions div.chapter-actions-btns>a#del-btn:hover {
        border-color: var(--red);
        background-color: var(--red);
    }
    
    div.chapter-actions div.chapter-actions-btns>a#del-btn:hover > img {
        display: none;
    }

    div.chapter-actions div.chapter-actions-btns>a#live-btn:hover {
        border-color: var(--accent);
        background-color: var(--accent);
    }
    
    div.chapter-actions div.chapter-actions-btns>a#live-btn:hover > img {
        display: none;
    }

    div.chapter-actions div.chapter-actions-btns>a:hover > p {
        color: #ffffff;
    }
    
    div.chapter-actions div.chapter-actions-btns>a>p {
        font-family: sans-serif;
        font-size: 11px;
        margin-left: 2px;
    }
    
    form#lessonForm {
        margin-left: 1rem;
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0px 3px 3px #cdcdcd;
        min-width: fit-content;
        width: 300px;
        display: grid;
        gap: 10px;
        align-items: center;
        position: absolute;
        top: 20px;
        left: 5%;
    }
    
    form#lessonForm div {
        display: grid;
        gap: 5px;
    }
    
    form#lessonForm div input {
        height: 30px;
        min-width: 90%;
        max-width: 300px;
        margin: 0;
    }
    
    form#lessonForm div label {
        font-weight: 500;
        font-size: 15px;
    }
    
    form#lessonForm button {
        width: 150px;
        height: 35px;
        margin: auto;
        cursor: pointer;
    }
    
    form#lessonForm.hidden {
        display: unset;
        position: unset;
        display: none;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

div.course-overview {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    gap: 10px;
}


section.course-materials, section.course-recordings {
    width: 70%;
    margin: 10px 0;
    border: 1px solid #ddd;
    background-color: var(--white);
    padding: 5px 7px;
    border-radius: 9px;
}

details {
    padding: 10px 0 0 1px;
    margin: 3px 0;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

details:hover {
    background-color: #f0f0ff;
}

summary {
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
}

details div {
    padding: 20px 10px;
    background-color: #fff;
    border-top: 1px solid #e7e2e2;
    display: grid;
    grid-template-columns: 20px 1fr;
    justify-content: left;
    align-items: center;
    gap: 1ch;
}

details div a {
    margin-left: 2ch;
}


details div:hover > * {
    color: var(--red);
    text-decoration: underline;
}

section.course-overview::-webkit-scrollbar {
    display: none;
 }