section.quizzes-main#quizzes-main {
    background-color: var(--white);
    padding: 1ch;
    border-radius: 1ch;
}

.quizzes-main .no-data {
    text-align: center;
    color: var(--text-muted);
    font-style: italic;
    margin-top: 2ch;
}

.quizzes-main #quiz-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

section.quizzes-main > #quiz-list > ul > li {
    display: block;
    margin-bottom: 2ch;
    border: 1px solid var(--inactive);
    border-radius: 1ch;
    background-color: var(--light-gray);
    overflow: hidden;
}

.quizzes-main #quiz-list ul li .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1ch;
    border-bottom: 1px solid var(--inactive);
    background-color: var(--primary-light);
}

.quizzes-main #quiz-list ul li .info .title {
    font-size: 18px;
    font-weight: bold;
    color: var(--text-title);
}

.quizzes-main #quiz-list ul li .info .lecturer {
    font-size: 14px;
    color: var(--text-muted);
    text-align: right;
}

.quizzes-main #quiz-list ul li ul {
    padding: 1ch;
    background-color: var(--white);
}

.quizzes-main #quiz-list ul li ul li {
    border-bottom: 1px solid var(--inactive);
    padding: 1ch 0;
}

.quizzes-main #quiz-list ul li ul li:last-child {
    border-bottom: none;
}

.quizzes-main #quiz-list ul li ul li a {
    text-decoration: none;
    color: var(--text);
    display: block;
    padding: 0.5ch 1ch;
    transition: background-color var(--transition-default);
}

.quizzes-main #quiz-list ul li ul li a:hover {
    background-color: var(--light-hover);
}

.quizzes-main #quiz-list ul li ul li a span {
    display: block;
    font-size: 14px;
    color: var(--text);
    margin-bottom: 0.5ch;
}

.quizzes-main #quiz-list ul li ul li a span strong {
    color: var(--text-title);
}
